.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar img {
  height: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.navbar .buttons {
  display: flex;
  gap: 10px;
}

.dropdownbutton {
  height: 20px;
  object-fit: cover;
}

.top {
  font-weight: bolder;
}

.container {
  display: flex;
  flex-direction: row;
}

.container div {
  margin: 20px;
  transform: translateY(-60px);
  transition: transform 0.3s; 
}

.container img {
  max-width: 90%; 
  height: auto;
}

.container div:hover {
  transform: translateY(-50px);
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; 
    margin-top: 2rem;
    margin-right: 2rem;   
  }

  .newa {
    display: flex; /* Change to flex if you want a horizontal layout */
  }

  /* Hide specific buttons */
  .navbar .button-feature,
  .navbar .button-planning {
    display: none;
  }
}

@media (max-width: 600px) {
  .imageone {
    height: 40vh;
    width: 400px;
    margin-bottom: 100px;
    
  }
}

@media (min-width: 600px) {
  .imageone {
    height: 70vh; 
  }
}
