.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar img {
  height: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.navbar .buttons {
  display: flex;
  gap: 10px;
}

.dropdownbutton {
  height: 20px;
  object-fit: cover;
}

.top {
  font-weight: bolder;
}

.container {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: row;

}

.container div {
  margin: 20px;
  transform: translateY(25px);
  transition: transform 0.3s; 
}

.container img {
  max-width: 90%; 
  height: auto;
}

.container div:hover {
  transform: translateY(-50px);
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; 
    margin-top: 2rem;
    margin-right: 2rem;   
  }

  .newa {
    display: flex; /* Change to flex if you want a horizontal layout */
  }

  /* Hide specific buttons */
  .navbar .button-feature,
  .navbar .button-planning {
    display: none;
  }
}
.container img {
  max-width: 80%;
  height: auto;
  max-height: 200px; /* added max-height to limit the image height */
  margin: 10px;
  object-fit: cover; /* added object-fit: cover to maintain aspect ratio */
}

@media (max-width: 600px) {
  .imageone {
    height: 25vh;
    width: 20vh;
    max-height: 160px; /* reduced max-height to limit the image height */
  }
}
    
  


@media (min-width: 600px) {
  .imageone {
    height: 70vh; 
  }
}
@media (max-width: 600px) {
  .top {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .container {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;

  }
}
